<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link href="/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{!-- <h1>{{title}}</h1> --}}
            <img class="portrait" src={{img}} desc="logo-image">
        </div>
        {{>footer}}
    </body>
</html>